[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opsdroid = {extras = ["matrix"], version = "*"}
matrix-nio = "*"

[dev-packages]

[requires]
python_version = "3.7"
